server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-boleto:5432/boleto_db
    username: boleto_user
    password: boleto_password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
