server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres-pessoa:5432/pessoa_db
    username: pessoa_user
    password: pessoa_password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

boleto:
  service:
    url: http://boleto-service:8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
